@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Neucha&subset=cyrillic');

html, body {
    font: 17px 'Droid Sans', Arial, sans-serif;
    height: 100%;
}

body {
    background: fixed url('../img/sky.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    /*align-self:center;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*vertical-align: middle;*/
}

.list-h1 {
    font-family: 'Neucha', cursive;
    text-align: center;
    /*color: #483D8B;*/
}

.list {
    width: 20rem;
    height: 35rem;
    margin: auto;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 0 53px 3px black;
}

.list-button {
    padding: 2px 21px;
    margin: 7px 10px;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to bottom, /*#9370DB,*/ #7B68EE, #6A5ACD, #483D8B);
    color: #E6E6FF;
    border: 1px solid #555555;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 9px 13px -9px black;
}

.list-button:hover {
    box-shadow: 0 9px 19px -5px black;
}

.list-button:active {
    background: linear-gradient(to top, /*#9370DB,*/ #7B68EE, #6A5ACD, #483D8B);
}

.list-input {
    /*display: inline-block;*/
    margin: 7px auto;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 9px 13px -9px black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.list-input:hover {
    box-shadow: 0 9px 19px -5px black;
}

.list-input:focus {
    outline: none;
    box-shadow: 0 9px 19px -5px black;
}

.list-input[type="text"] {
    width: 100%;
}

.list-input[type="date"] {
    padding-left: 1.5rem;
    background: url('../img/calendar_2.png') no-repeat 6px center;
    background-size: 1.9rem;
}

.list-img {
    margin: auto;
    background: url('../img/sprite_cat.png') no-repeat;
    background-size: cover;
    height: 7.5rem;
    width: 7.5rem;
    margin-bottom: 8px;
}