@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Neucha&subset=cyrillic');
/*@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Neucha|Roboto&subset=cyrillic');*/

html, body {
    font: 17px 'Droid Sans', Arial, sans-serif;
    height: 100%;
}

body {
    background: fixed url('../img/sky.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
}

.list_h1 {
    font-family: 'Neucha', cursive;
    text-align: center;
    margin: 0.4em 0 0.25em;
    /*color: #483D8B;*/
}

.list {
    display: flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 20rem;
    height: 35rem;
    margin: auto;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 0 53px 3px black;
}

.list_el {
    border-radius: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 9px 13px -9px black;
}

.list_el:hover {
    box-shadow: 0 9px 19px -5px black;
}

.list_button {
    margin: 7px 10px;
    padding: 2px 21px;
    outline: none;
}

.list_button:active {
    background: linear-gradient(to top, /*#9370DB,*/ #7B68EE, #6A5ACD, #483D8B);
}

.list_button--del {
    outline: none;
    border-radius: 15px;
    -moz-padding-start: 6px;
    -moz-padding-end: 6px;
}

.list_button--del:before {
    content: 'X';
}

.list_button--del:active {
    background: linear-gradient(to top, /*#9370DB,*/ #7B68EE, #6A5ACD, #483D8B);
}

.list_input {
    padding: 0;
    margin: 10px auto;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}

.list_input:focus {
    outline: none;
    /*box-shadow: 0 9px 19px -5px black;*/
}

.list_input[type="text"] {
    width: 100%;
}

.list_input[type="date"] {
    padding-left: 1.5rem;
    background: url('../img/calendar_2.png') no-repeat 6px center;
    background-size: 1.9rem;
}

.list_img {
    margin: auto;
    background: url('../img/sprite_cat.png') no-repeat;
    background-size: cover;
    height: 7.5rem;
    width: 7.5rem;
    margin-bottom: 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.no-wrap {
    white-space: nowrap;
    margin: 7px 10px;
}

.wrap-word {
    /*word-wrap: break-word;*/
    /*overflow-wrap: break-word;*/
    word-break: break-all;
    /*-webkit-hyphens: auto;*/
    /*-moz-hyphens: auto;*/
    /*-ms-hyphens: auto;*/
}

.list_check {
    display: none;
}

.list_check + .list_label-check {
    display: inline-block;
    content: "";
    vertical-align: middle;
    height: 1.1rem;
    width: 1.1rem;
    line-height: 1.1rem;
    margin: 0px 0 4px 0;

    background: linear-gradient(to bottom, /*#9370DB,*/ #7B68EE, #6A5ACD, #483D8B);
    color: #E6E6FF;
    border: 1px solid #555555;
}

.list_check:checked + .list_label-check:before {
    content: "✔";
}

.list_check:hover + .list_label-check {
    box-shadow: 0 9px 19px -5px black;
}

.list_table-container {
    margin: 12px auto;
    /*border: 1px solid red;*/
    height: 42%;
    overflow-y: auto;
    overflow-x: hidden;
}

.list_table {
    width: 100%;
    /*border: 1px solid black;*/
    border-collapse: separate;
    border-spacing: 0 6px;
    margin-top: -6px;
    font-size: 0.95rem;
}

.list_table-date {
    font-size: 0.7rem;
}

.list_table tr:hover {
    background-color: rgba(123, 104, 238, 0.4);
    cursor: default;
}

.list_table-checkbox {
    padding-left: 4px;
    padding-top: 4px;
}

.list_table td {
    border: 1px solid #696969;
    border-left: none;
    border-right: none;
    /*padding: 0px 1px 0px 0px;*/
    background-color: rgba(240, 240, 240, 0.4);
}

.list_table td:first-child {
    border-left: 1px solid #696969;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.list_table td:last-child {
    border-right: 1px solid #696969;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.violet {
    background: linear-gradient(to bottom, /*#9370DB,*/ #7B68EE, #6A5ACD, #483D8B);
    color: #E6E6FF;
    border: 1px solid #555555;
}

.line-through {
    text-decoration: line-through;
}

.error--img {
    background-position: -130px 0;
    /*background-position: -255px 0;*/
    /*background-position: -1148px 0;*/
}

.error--input::-webkit-input-placeholder {
    color: red;
}

.error--input::-moz-placeholder {
    color: red;
}

.error--input:-moz-placeholder {
    color: red;
}

.error--input:-ms-input-placeholder {
    color: red;
}

.error--input {
    border-bottom-color: red;
    box-shadow: 0 9px 13px -9px red;
}